<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
rel="stylesheet"/>
<script th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>
<meta charset="UTF-8">
<title>Titulo</title>
</head>
<body>


</body>
</html>