<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
rel="stylesheet"/>
<meta charset="UTF-8">
<title>Titulo</title>
</head>
<body>

<div class="panel panel-default" style="margin: 10px">
	<div class="panel-heading">
		<h1 class="panel-title">Formulário de Toner</h1>
	</div>
	<div class="panel-body">
		<form action="toner" th:object="${toner}"
				method="post" style="margin: 20px 0">
				
			<input type="hidden" th:field="*{id}"/>
			
			<div th:class="${#fields.hasErrors('descricao')}? 'form-group has-error' : form-group">
				<label for="descricao">Descrição</label>
				<input type="text" class="form-control" th:field="*{descricao}" required/>
				<p th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></p>
			</div>	
						
			<div th:class="${#fields.hasErrors('quantidade')}? 'form-group has-error' : form-group">
				<label for="quantidade">Quantidade</label>
				<input type="number" class="form-control" th:field="*{quantidade}" min="0" required/>
				<p th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}"></p>
			</div>
			
				<button type="submit" class="btn btn-primary">
					Registrar 
					<span class="glyphicon glyphicon-floppy-disk"></span>
				</button>
			
		</form>
		<a th:href="@{/toners}">Voltar</a>
	</div>
</div>

</body>
</html>