<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
rel="stylesheet"/>
<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"
rel="stylesheet"/>
<script th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>
<meta charset="UTF-8">
<title>Lista de Toners</title>
</head>
<body>

<script>
	function alteraToner(id) {
		window.location = "mostraToner?id=" + id;
	}
	
	function aumentaToner(id) {
		$.post("aumentaToner", {'id' : id}, function(data) {
			$("#qtd_"+id).html(data);
			var qtd = parseInt($("#qtd_"+id).text());
			corLinha(qtd, id);
		})
	}
	 
	function diminuiToner(id) {
		$.post("diminuiToner", {'id' : id}, function(data) {
			$("#qtd_"+id).html(data);
			var qtd = parseInt($("#qtd_"+id).text());
			corLinha(qtd, id);
		})
	}
	 
	function removeToner(id) {
		var r = confirm("Deseja realmente excluir?");
		if (r == true) {
			$.post("removeToner", {'id' : id}, function() {
				$("#toner_"+id).hide();
			})
		}
	}
	
	function corLinha(qtd, id) {
		switch (qtd) {
		case 0:
			$("#toner_"+id).attr("class", "danger");
			break;
		case 1:
			$("#toner_"+id).attr("class", "warning");
			break;
		default:
			$("#toner_"+id).removeAttr("class");
			break;
		}
	}
	
</script>

<div class="panel panel-default" style="margin: 10px">
	<div class="panel-heading">
		<h1 class="panel-title">Lista de toners</h1>
	</div>
	<div class="panel-body">
		<a th:href="@{/toner}" class="btn btn-primary" style="margin: 10px">
			Novo toner
			<span class="glyphicon glyphicon-plus"></span>
		</a>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Descrição</th>
					<th>Quantidade</th>
					<th>Aumenta</th>
					<th>Diminui</th>
					<th>Remove</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="toner: ${toners}" th:id="|toner_${toner.id}|"
						th:class="${toner.quantidade == 0}? 'danger' : (${toner.quantidade == 1}? 'warning')">
					<td th:text="${toner.id}"></td>
					<td>
						<a th:href="@{toner(id=${toner.id})}" th:text="${toner.descricao}"></a>
					</td>
					<td th:id="|qtd_${toner.id}|" th:text="${toner.quantidade}"></td>
					<td>
						<a th:onclick="|aumentaToner(${toner.id})|">
							<span class="glyphicon glyphicon-plus"></span>
						</a>
					</td>
					<td>
						<a th:onclick="|diminuiToner(${toner.id})|">
							<span class="glyphicon glyphicon-minus"></span>
						</a>
					</td>
					<td>
						<a th:onclick="|removeToner(${toner.id})|">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>

</body>
</html>